*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}



body{

height:100vh;

background:#0a0a0c;

display:flex;

justify-content:center;

align-items:center;

color:white;

}



.admin-login-box{


width:380px;

background:#15151c;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:

0 0 30px rgba(255,0,85,.3);

}



.admin-login-box h1{

color:#ff0055;

margin-bottom:10px;

}



.admin-login-box p{

color:#aaa;

margin-bottom:25px;

}




input{


width:100%;

padding:15px;

margin:10px 0;

background:#22222b;

border:none;

outline:none;

border-radius:10px;

color:white;

}



button{


width:100%;

padding:15px;

margin-top:20px;

background:#ff0055;

border:none;

border-radius:30px;

color:white;

cursor:pointer;

font-size:16px;

}



button:hover{

background:#ff3377;

}s
@media(max-width:600px){


body{

overflow-x:hidden;

}



header{

padding:15px;

}



.logo{

font-size:22px;

}



button{

font-size:14px;

}



input,
select{

font-size:16px;

}



.event-container{

grid-template-columns:1fr;

}



.ticket-box,
.payment-box,
.booking-box,
.login-box{

width:90%;

}


}