*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}



body{

background:#0a0a0c;

color:white;

}



header{

height:80px;

background:#15151c;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

}



header h1{

color:#ff0055;

}



header a{

color:white;

text-decoration:none;

}




.admin-container{

width:90%;

margin:40px auto;

display:grid;

grid-template-columns:

350px 1fr;

gap:30px;

}



.add-box,
.event-box{


background:#15151c;

padding:30px;

border-radius:20px;


}




h2{

color:#ff0055;

margin-bottom:20px;

}




input{


width:100%;

padding:14px;

margin:8px 0;

background:#22222b;

border:none;

outline:none;

border-radius:10px;

color:white;

}



button{


width:100%;

padding:14px;

margin-top:15px;

background:#ff0055;

border:none;

border-radius:30px;

color:white;

cursor:pointer;

}



.event-card{


background:#22222b;

padding:20px;

border-radius:15px;

margin-bottom:15px;


}



.event-card h3{

color:#ff0055;

}



.delete-btn{

margin-top:10px;

background:#333;

}



@media(max-width:800px){


.admin-container{

grid-template-columns:1fr;

}


}
@media(max-width:600px){


body{

overflow-x:hidden;

}



header{

padding:15px;

}



.logo{

font-size:22px;

}



button{

font-size:14px;

}



input,
select{

font-size:16px;

}



.event-container{

grid-template-columns:1fr;

}



.ticket-box,
.payment-box,
.booking-box,
.login-box{

width:90%;

}


}