*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}


body{

height:100vh;
background:#0a0a0c;

display:flex;
justify-content:center;
align-items:center;

color:white;

}



.register-box{

width:400px;

background:#15151c;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:
0 0 30px rgba(255,0,85,0.25);

}



.register-box h1{

color:#ff0055;
margin-bottom:10px;

}



.register-box p{

color:#aaa;
margin-bottom:25px;

}



input{


width:100%;

padding:14px;

margin:8px 0;

border:none;

outline:none;

border-radius:10px;

background:#22222b;

color:white;


}



button{


width:100%;

padding:15px;

margin-top:20px;

border:none;

border-radius:30px;

background:#ff0055;

color:white;

font-size:16px;

cursor:pointer;


}



button:hover{

background:#ff3377;

}



.login-link a{

color:#ff0055;

text-decoration:none;

}
@media(max-width:600px){


body{

overflow-x:hidden;

}



header{

padding:15px;

}



.logo{

font-size:22px;

}



button{

font-size:14px;

}



input,
select{

font-size:16px;

}



.event-container{

grid-template-columns:1fr;

}



.ticket-box,
.payment-box,
.booking-box,
.login-box{

width:90%;

}


}