*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}



body{

min-height:100vh;

background:#0a0a0c;

display:flex;

justify-content:center;

align-items:center;

color:white;

}




.ticket-box{


width:430px;

background:#15151c;

padding:35px;

border-radius:20px;

text-align:center;


box-shadow:

0 0 35px rgba(255,0,85,.3);


}



.ticket-box h1{

color:#ff0055;

font-size:35px;

}



.ticket-box h2{

margin:10px 0 25px;

}



.ticket-info{

background:#22222b;

padding:20px;

border-radius:15px;

text-align:left;

}



.ticket-info p{

margin:12px 0;

color:#ddd;

}



.ticket-info strong{

color:#ff0055;

}



#qrcode{

background:white;

padding:15px;

width:max-content;

margin:25px auto;

}



button{


width:100%;

padding:14px;

border:none;

border-radius:30px;

background:#ff0055;

color:white;

font-size:16px;

cursor:pointer;

margin-bottom:15px;


}



button:hover{

background:#ff3377;

}



a{

color:#ff0055;

text-decoration:none;

}
@media(max-width:600px){


body{

overflow-x:hidden;

}



header{

padding:15px;

}



.logo{

font-size:22px;

}



button{

font-size:14px;

}



input,
select{

font-size:16px;

}



.event-container{

grid-template-columns:1fr;

}



.ticket-box,
.payment-box,
.booking-box,
.login-box{

width:90%;

}


}